# Node.js dependencies
node_modules/

# Environment variables
.env
.env.local
.env.*.local

ga2/q-19/.env
#for the client ID and secret, which should not be committed to version control


# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Vercel / deployment artifacts
.vercel/

**/venv/