name: Cache Demo

on:
  push:
    
    branches:
      - main  # Or whatever branch you want to trigger this workflow
  workflow_dispatch:   # This enables manual trigger from GitHub UI, it wont run automatically on every push

jobs:
  cache-setup: # job name
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      # Step 1: Prime the cache with a specific key
      - name: Restore cache
        id: cache-step #step id
        uses: actions/cache@v4
        with:
          path:  ~/.cache/demo
          key: cache-240ec97  

      # Step 2: Print the cache hit/miss result
      - name: prime-cache-240ec97
        run: |
          echo "Cache hit? ${{ steps.cache-step.outputs.cache-hit }}"

      - name: Populate cache if empty  
        run: |
          mkdir -p ~/.cache/demo 
          echo "Cached at $(date)" > ~/.cache/demo/file.txt


   